* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: royalblue;
    font-size: 20px;
}

#mainbtn {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 3px 8px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    background: #3454b4;
    border-radius: 5px;
}

#mainbtn:hover {
    background: #2444a4;
    transform: translate(calc(3px - 50%), -1px);
}

#mainbtn a {
    text-decoration: none;
    color: black;
}

details {
    margin-left: 20px;
}

details summary {
    position: relative;
    cursor: pointer;
}

summary::before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: .4rem;
    left: -1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker,
details summary::marker {
    content: "";
    display: none;
}